@model IEnumerable<BaiTuan3.Models.Todo>

@{
    ViewData["Title"] = "Danh sách công việc";
}

<div class="exercise-header">
    <h2 class="exercise-title">BÀI TẬP VẬN DỤNG 2</h2>
    <p>Xây dựng ứng dụng TodoList với các chức năng: Xem danh sách, chi tiết, thêm, sửa, xoá</p>
</div>

<h1 class="task-title">DANH SÁCH CÔNG VIỆC</h1>
<a asp-action="Create" style="font-size: 14px;">Tạo mới công việc</a>

<table>
    <thead>
        <tr>
            <th>Mã công việc</th>
            <th>Tên công việc</th>
            <th>Trạng thái hoàn thành</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Title</td>
            <td>
                <form asp-action="ToggleStatus" asp-route-id="@item.Id" method="post" style="margin:0;">
                    <input type="checkbox" @(item.IsCompleted ? "checked" : "") onchange="this.form.submit()" />
                </form>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Sửa</a> | 
                <a asp-action="Details" asp-route-id="@item.Id">Chi tiết</a> | 
                <a asp-action="Delete" asp-route-id="@item.Id">Xoá</a>
            </td>
        </tr>
    }
    </tbody>
</table>


